.dnd {
    margin: 0 auto 10px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 10px;
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: slategray;
    cursor: pointer;
}

.selectBtn {
    opacity: 0;
}

.err {
    color: red;
    font-size: 14px;
    text-align: center;
}

.visibile {
    visibility: hidden;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    border: 1px solid;
    border-radius: 10px;
    max-width: 840px;
    min-height: 202px;
    background-color: rgb(212, 239, 248);
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.image-element {
    width: 20%;
    position: relative;
    margin: 3%;
}

img {
    width: 100%;
}

.delBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: -12px;
    right: -14px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}